html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: left;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    content-align: center middle;
    text-align: center;
    align: center;
}

#content-container {
    width: 100%;
    text-align: left;
}

.post-list {
    margin: 0;
}

#header,
#blog {
    #blog-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        content-align: center middle;
        text-align: left;
        align: center;
        width: 80%;

        img {
            width: 50%;
        }

        p {
            font-size: 1.03rem;
        }

        pre {
            background-color: white;
            color: white;

            border-radius: 10px;
            padding: 1rem 2rem;

            overflow-x: scroll;
            code {
                word-wrap: normal;
                white-space: pre;
                padding: 1rem;

                border-radius: 10px;
                width: 100%;
            }
        }

        @media (max-width: 450px) {
            width: 100%;
        }
    }
}
