<!-- HTML -->
<head>
  <title> Joshua Mo | {{ page.title }} </title>
  <link rel="stylesheet" href="{{ get_url(path="styles.css", cachebust=true) }}"/>
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:url" content="{{ current_path }}"/>
  <meta property="og:description" content="{{ page.description }}"/>
  <meta property="og:image" content="/blog/{{ page.extra.thumb }}"/>

  <meta name="twitter:site" content="@joshmo_dev" />
  <meta name="twitter:creator" content="@joshmo_dev" />
  <meta name="twitter:card" content="{{ page.description }}">
  <meta property="twitter:domain" content="joshmo.ooo">
  <meta property="twitter:url" content="https://joshmo.ooo">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="/blog/{{ page.extra.thumb }}">

  <script data-goatcounter="https://stmblst.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>
<body>
  {% include "header.html" %}
<div id="blog">
<div id="blog-content">
  <h1> {{ page.title }} </h1>
  {% if page.extra.repository %}
  <p>Related GitHub repo: <a href="https://www.github.com/{{ page.extra.repository }}">{{ page.extra.repository }}</a></p>
  {% endif %}
  {% if page.extra.thumb %}
    <img src="/blog/{{ page.extra.thumb }}"/>
	{% endif %}
{% if page.toc %}
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
	{{ page.content | safe }}
	</div>
</body>
