<!-- HTML -->
<head>
  <title> Joshua Mo | {{ page.title }} </title>
  <link rel="stylesheet" href="{{ get_url(path="styles.css", cachebust=true) }}"/>
</head>
<body>
  {% include "header.html" %}
<div id="blog">
<div id="blog-content">
  <h1> {{ page.title }} </h1>
  {% if page.extra.repository %}
  <p>Related GitHub repo: <a href="https://www.github.com/{{ page.extra.repository }}">{{ page.extra.repository }}</a></p>
  {% endif %}
{% if page.toc %}
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
	{{ page.content | safe }}
	</div>
</body>
